.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-item-form {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 3px 7px 12px 1px rgba(117, 117, 117, 1);
}
